<extend name="Common/edit"/>
<block name="css">
    <link href="__CSS__/common.css" rel="stylesheet" type="text/css" />
</block>
<block name="list">
    <div class="main-div">
        <form method="post" action="{: U()}">
            <table cellspacing="1" cellpadding="3" width="100%">
                <tr>
                    <td class="label">品牌名称</td>

                    <td>
                        <input type='text' name='name' maxlength='60' value='{$name}'/><span
                            class='require-field'>*</span></td>

                </tr>
                <tr>
                    <td class="label">品牌网址</td>

                    <td>
                        <input type='text' name='url' maxlength='60' value='{$url}'/><span
                            class='require-field'>*</span></td>

                </tr>
                <tr>
                    <td class="label">logo</td>

                    <td>
                        <input type='file' name='logo_uploader' id="logo_uploader"  maxlength='40' size='15'/>
                        <input type='hidden' name='logo' class="logo" maxlength='40' size='15'/>
                        <div class="upload-img-box" style="display: none">
                            <div class="upload-pre-item">
                                <img src="">
                            </div>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td class="label">品牌简介</td>

                    <td>
                        <textarea name='intro' cols='60' rows='4'>{$intro}</textarea></td>

                </tr>
                <tr>
                    <td class="label">排序</td>

                    <td>
                        <input type='text' name='sort' maxlength='60' value='{$sort|default=' 20'}' /><span
                            class='require-field'>*</span></td>

                </tr>
                <tr>
                    <td class="label">状态</td>

                    <td>
                        <input type='radio' class='status' name='status' value='1'/> 是
                        <input type='radio' class='status' name='status' value='0'/> 否
                    </td>

                </tr>
                <tr>
                    <td colspan="2" align="center"><br/>
                        <input type="hidden" name="id" value="{$id}"/>
                        <input type="submit" class="button ajax-post" value=" 确定 "/>
                        <input type="reset" class="button" value=" 重置 "/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</block>

<block name="js">
    <script type="text/javascript" src="__UPLOADIFY__/jquery.uploadify.min.js"></script>
    <script type="text/javascript">
       $(function(){
           $("#logo_uploader").uploadify({

                       height:30,
                       width : 120,
                     //flash插件的地址
                       'swf': '__UPLOADIFY__/uploadify.swf',
                     //按钮上面的文字
                     'buttonText': '上传图片',
                     //是否调试
                     'debug': true,
                     //上传最大 大小
                     'fileSizeLimit': '1MB',
                     //允许上传的文件类型
                    'fileTypeExts':'*.gif; *.jpg; *.png',
                    //上传文件是 额外传递的参数 告知服务器将文件保存在哪个文件夹下
                    'formData':{'dir':'brand-logo'},
                    //上传的文件 在哪里处理文件
                    'uploader':"{: U('Upload/index')}",
                  'onUploadSuccess':function(file, data, response){
//                      alert(data);
                      $('.upload-img-box').show();
                      $('.upload-img-box .upload-pre-item img').attr('src','__BRAND__'+data);
                      $('.logo').val(data);
                  },
               'onUploadError' : function(file, errorCode, errorMsg, errorString) {
                   alert('The file ' + file.name + ' could not be uploaded: ' + errorString);
               }

           })
       })

    </script>
</block>